{
    "version": "10",
    "aliases": {
        "s3": {
            "url": "http://s3:80",
            "accessKey": "{{getenv "S3_MINIO_ACCESS_KEY"}}",
            "secretKey": "{{getenv "S3_MINIO_SECRET_KEY"}}",
            "api": "S3v4",
            "path": "auto"
        }
    }
}