apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: openbalena-ingress
  labels:
    app: openbalena
    component: ingress
  annotations:
    cert-manager.io/cluster-issuer: "letsencrypt-prod"
    kubernetes.io/ingress.class: "nginx"
    nginx.ingress.kubernetes.io/proxy-body-size: "{{ index .Values "config" "client-max-body-size" }}"
spec:
  tls:
  - hosts:
    - api.{{ index .Values "hostname" }}
    - registry.{{ index .Values "hostname" }}

    {{- if index .Values "deployments" "s3" "enabled" }}
    - s3.{{ index .Values "hostname" }}
    {{- end }}
    secretName: echo-tls
  rules:
  - host: api.{{ index .Values "hostname" }}
    http:
      paths:
      - path: /
        backend:
          serviceName: openbalena-api
          servicePort: 80
  - host: registry.{{ index .Values "hostname" }}
    http:
      paths:
      - path: /
        backend:
          serviceName: openbalena-registry
          servicePort: 80

  {{- if index .Values "deployments" "s3" "enabled" }}
  - host: s3.{{ index .Values "hostname" }}
    http:
      paths:
      - path: /
        backend:
          serviceName: openbalena-s3
          servicePort: 80
  {{- end }}
---
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: openbalena-ingress-vpn
  labels:
    app: openbalena
    component: ingress-vpn
  annotations:
    kubernetes.io/ingress.class: "haproxy"
    ingress.kubernetes.io/ssl-redirect: "false"
spec:
  rules:
  - host: vpn.{{ index .Values "hostname" }}
    http:
      paths:
      - path: /
        backend:
          serviceName: openbalena-vpn
          servicePort: 80
