{{- if index .Values "config" "s3" "enabled" }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  creationTimestamp: null
  labels:
    app: openbalena
    component: s3
  name: openbalena-s3
spec:
  serviceName: openbalena-s3
  replicas: {{ index .Values "deployments" "s3" "replicas" }}
  selector:
    matchLabels:
      app: openbalena
      component: s3
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: openbalena
        component: s3
    spec:
      containers:
      - image: '{{ index .Values "deployments" "s3" "image" }}:{{ index .Values "deployments" "s3" "version" }}'
        name: openbalena-s3
        resources: {}
        securityContext:
          privileged: true
          capabilities:
            add:
              - SYS_ADMIN
              - SYS_RESOURCE
        env:
        - name: CONFD_BACKEND
          value: "ENV"
        - name: S3_MINIO_ACCESS_KEY
          value: "{{ index .Values "config" "s3" "access-key" }}"
        - name: S3_MINIO_SECRET_KEY
          value: "{{ index .Values "config" "s3" "secret-key" }}"
        - name: BUCKETS
          value: "{{ index .Values "config" "s3" "bucket" }}"
        volumeMounts:
        - mountPath: /export
          name: openbalena-s3-volume
        - mountPath: /run
          name: openbalena-s3-tmpfs0
        - mountPath: /sys/fs/cgroup
          name: openbalena-s3-tmpfs1
      volumes:
      - name: openbalena-s3-volume
        persistentVolumeClaim:
          claimName: openbalena-s3-volume
      - name: openbalena-s3-tmpfs0
        emptyDir:
          medium: Memory
      - name: openbalena-s3-tmpfs1
        emptyDir:
          medium: Memory
  volumeClaimTemplates:
  - metadata:
      name: openbalena-s3-volume
    spec:
      accessModes:
      - ReadWriteOnce
      resources:
        requests:
          storage: {{ index .Values "deployments" "s3" "volume" "storage" }}
---
apiVersion: v1
kind: Service
metadata:
  creationTimestamp: null
  labels:
    app: openbalena
    component: s3
  name: openbalena-s3
spec:
  ports:
  - port: 80
    protocol: TCP
    targetPort: 80
  selector:
    app: openbalena
    component: s3
status:
  loadBalancer: {}
{{- end }}
